@page "/C_Dispositivos"

<PageTitle>Consulta de Dispositivos</PageTitle>

<EditForm Model="lista">
    <div class="card">
        <div class="card-header">
            <h4>Consulta de Dispositivos</h4>
        </div>

        <div class="card-body">
            <form>
                <div class="input-group d-flex align-items-end">
                    <InputSelect class="form-select col-2" @bind-Value="filtro">
                        <option value="0" disabled selected>Seleccione un filtro</option>
                        <option value="1">Id</option>
                        <option value="2">Marca</option>
                        <option value="3">Sistema operativo</option>
                    </InputSelect>

                    <div class="flex-fill mx-2">
                        <label>Busqueda</label>
                        <InputText class="form-control" @bind-Value="Criterio" />
                    </div>

                    <button type="button" class="btn btn-primary" @onclick="Buscar"><span
                    class="oi oi-magnifying-glass"></span></button>

                </div>
            </form>
        </div>

        <table class="table table-light">
            <thead class="thead">
                <tr class="table">
                    <th>Id</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Sistema operativo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in lista)
                {
                    <tr>
                        <td>@item.DispositivoId</td>
                        <td>@item.Marca</td>
                        <td>@item.Modelo</td>
                        <td>@item.SistemaOperativo </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

</EditForm>



@code {
    public string? filtro { get; set; }
    public string? Criterio { get; set; }
    public List<Dispositivos> lista { get; set; } = new List<Dispositivos>();

    [Inject]
    public DispositivosBLL? dispositivosBLL { get; set; }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        lista = DispositivosBLL.ListaDispositivosCriterio(d => true);
    } 
    private void Buscar()
    {
        if (Criterio != null)
        {
            switch (filtro)
            {
                case "1":
                    bool esNumero = Int32.TryParse(Convert.ToString(Criterio), out int id);
                    if(esNumero)
                        lista = DispositivosBLL.ListaDispositivosCriterio(d => d.DispositivoId== id);
                    break;
                
                case "2":
                    lista =DispositivosBLL.ListaDispositivosCriterio(m => m.Marca.ToLower().Contains(Criterio.ToLower()));
                    break;

                case "3":
                    lista =DispositivosBLL.ListaDispositivosCriterio(s => s.SistemaOperativo.ToLower().Contains(Criterio.ToLower()));
                    break;
            }
        }
        else
        {
            lista = DispositivosBLL.ListaDispositivosCriterio(d => true);
        }
        
    }
}
