@page "/"

<PageTitle>Home</PageTitle>

<h1>Proyecto Final Aplicada l</h1>

<h3>¿Qué  es Búho Smartphone?</h3>
<div>
        Es una empresa de tecnología que ofrece los siguientes servicios:
    <li>
        Ventas de celulares. 
    </li>
    <li>
        Accesorios.
    </li>
    <li>
        Reparación.
    </li>
</div>

<h3>Sistema Búho Smartphone</h3>
Es un sistema que consiste en tener un control de los productos en el inventario de compras.

<SurveyPrompt Title="Codigo fuente, disponible en github" />
